<nav class="navbar navbar-expand-lg myheader">
  <div class="container-fluid">
    <a class="navbar-brand mylogo" href="#">My Portfolio</a>
    <button class="navbar-toggler" type="button"
    (click)="isCollapsed=!isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [ariaExpanded]="!isCollapsed"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav navMenu">
        <li class="nav-item navItem">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="#">Works</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="#">My Book Nook</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="#">Reach Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
